In [2]:
x = [1,2,3,4,5,6,7,8,9,10,11,12,'hello']

In [6]:
x[12]

'hello'

In [30]:
f = "Hellloooo"

In [5]:
f[0:7]

'Hellloo'

In [10]:
g = [1,2,3,4, [3,3.4]]

In [16]:
g[4]

[3, 3.4]

In [28]:
d = {'phone': 7743983616,'Name': 'Rohit'}

In [25]:
print(d['Name'])

Rohit

In [26]:
print(d['phone'])

7743983616

In [38]:
a = 11
if a % 2 == 0:
    print("%d is divisible by 2" %a)
elif a % 3 == 0:
    print("%d is divisible by 3" %a)
else:
    print("%d is neither divisible by 2 nor by 3" %a)

11 is neither divisible by 2 nor by 3

In [45]:
total = 0
for i in range(1,10):
    #print(i)
    total += i
    print("number to add:- ",total)
print(total)

number to add:-  1
number to add:-  3
number to add:-  6
number to add:-  10
number to add:-  15
number to add:-  21
number to add:-  28
number to add:-  36
number to add:-  45
45

In [49]:
amount = int(input("Enter Amount:- "))
if amount <= 1000:
    discount = amount * 0.05
    print("Discount", discount)
else:
    discount = amount * 0.10
    print("Discount", discount)
print("Net Payable ", amount - discount)

Enter Amount:-  1070

Discount 107.0
Net Payable  963.0

In [1]:
x = 0 
while x <= 5:
    print(x)
    x += 1
print(x)

0
1
2
3
4
5
6

In [6]:
f = '45678765'

for num in f:
    print(num)

4
5
6
7
8
7
6
5

In [7]:
for ch in "HHeeellloooooo":
    print(ch)

H
H
e
e
e
l
l
l
o
o
o
o
o
o

In [10]:
def square(n):
    return n * n
print(square(7))

49

In [12]:
import random 
print(random.random())

0.39070160387038

In [19]:
def rolldice():
    return random.randint(1,6)
for i in range(10):
    print(rolldice(), end=" , ")
    #print(random.randint(1,6))

4 , 5 , 4 , 3 , 3 , 1 , 4 , 1 , 2 , 1 ,

In [20]:
capitals = {"India": "New Dehli", "USA": "Washington DC", "UK": "London"}

In [21]:
len(capitals)

3

In [22]:
capitals.keys() #dict.keys

dict_keys(['India', 'USA', 'UK'])

In [24]:
capitals.values()  #dict.values

dict_values(['New Dehli', 'Washington DC', 'London'])

In [26]:
capitals.items()  #dict.items

dict_items([('India', 'New Dehli'), ('USA', 'Washington DC'), ('UK', 'London')])

In [27]:
capitals["Srilanka"] = "colombo"

In [28]:
len(capitals)

4

In [29]:
capitals["Afganistan"] = "Kabul"

In [30]:
len(capitals)

5

In [31]:
capitals.items()

dict_items([('India', 'New Dehli'), ('USA', 'Washington DC'), ('UK', 'London'), ('Srilanka', 'colombo'), ('Afganistan', 'Kabul')])

In [55]:
for k in capitals.keys():
    print(capitals[k])
    #print(k)

New Dehli
Washington DC
London
colombo
Kabul

In [36]:
for k in capitals.keys():
    print(k , capitals[k])

India New Dehli
USA Washington DC
UK London
Srilanka colombo
Afganistan Kabul

Identify the even number by using class & mod operator method

In [42]:
nums = 2,1,2,3,4

def count_evens(nums):
    count = 0 
    for x in nums:
        if x % 2 == 0:
            count += 1
    return count
count_evens(nums)

3

In [43]:
n = 5
while n > 0:
    print(n)
    n -= 1
print(n)

5
4
3
2
1
0

In [48]:
for i in range(5,-1,-1):
    print(i)

5
4
3
2
1
0

Find the average of number in ist also define count & opperation of sum

In [51]:
count = 0
sum = 0
print("Before ",count,sum)
for value in [9,41,12,3,74,15]:
    count += 1  #Count = Count + 1
    sum = sum + value
    print(count, sum, value)
g = sum/count 
print("after", count, sum)
print("Average is:-  ", g)

Before  0 0
1 9 9
2 50 41
3 62 12
4 65 3
5 139 74
6 154 15
after 6 154
Average is:-   25.666666666666668

In [56]:
count = 0
sum = 0
print("Before", count, sum)
for value in [1,2,3,4,5,6,7,8]:
    count += 1
    sum = sum + value
    print(count, sum, value)
g = sum/count
print("After", count, sum)
print("Average :- ", g)

Before 0 0
1 1 1
2 3 2
3 6 3
4 10 4
5 15 5
6 21 6
7 28 7
8 36 8
After 8 36
Average :-  4.5

In [59]:
a = ['apple', 'banana', 'republic'] 
for i in range(len(a)): #len function use for count string how many times
    for j in range(i + 1):
        print(a[i])

apple
banana
banana
republic
republic
republic

In [69]:

print("Before")
for value in [9,12,41,74,15]:
    if value > 20:
        print("Large number than 20 :- ", value)
print("After")

Before
Large number than 20 :-  41
Large number than 20 :-  74
After

In [81]:
c = []
smallest = None
print("Before")
for value in [9, 12, 41, 3, 74, 15]:
    c.append(value)
c.sort() 
print(c)
print("Smalest number in list is :- ", c[1]) #if you want to find largest no then put -1 in bracket .

Before
[3, 9, 12, 15, 41, 74]
Smalest number in list is :-  9

In [85]:
smallest = None
print("Before")
for value in [9,12,41,3,74,15]:
    if smallest is None:
        smallest = value 
    elif value < smallest: #" > " if used this then we recognize largest number 
        smallest = value 
    print(smallest, value)
print('After', smallest)

Before
9 9
9 12
9 41
3 3
3 74
3 15
After 3

In [88]:
list = [10, 20, 4, 45, 99]
list.sort()
print("Smallest element is:- ", list[0])

Smallest element is:-  4

In [89]:
fruit = 'banana'
index = 0
while index < len(fruit):
    letter = fruit[index]
    print(index, letter)
    index = index + 1

0 b
1 a
2 n
3 a
4 n
5 a

In [90]:
fruit = 'apple'
for letter in fruit:
    print(letter)

a
p
p
l
e

In [92]:
word = 'banana'
count = 0
for letter in word:
    if letter == 'n':
        count = count + 1
print(count)

2

In [2]:
a = 'Hello'
b = a + ' Hello '
print(b)

Hello Hello

In [5]:
c = a + ' ' + 'Hello'
print(c)

Hello Hello

Tuple in python

In [2]:
t1 = (45,67,67,89,90,56,80) #Tuple with Homogenous value (All are Integer)
print(t1)

(45, 67, 67, 89, 90, 56, 80)

In [6]:
t2 = (45,78,"Helllo", "tyhu", 89, 67) #Tuple with hetrogenous value (Elements are mixed)
print(t2)
type(t2)

(45, 78, 'Helllo', 'tyhu', 89, 67)

tuple

In [7]:
Mylength = len(t1)
print(Mylength)

7

In [9]:
67 in t1 # Search in tuple

True

In [11]:
t1.count(67) #Elemrent present in the tuples (how many times)

2

In [18]:
min(t1)

45

In [21]:
t1[1] #Element slicing in tuple

67

In [22]:
t1[0:6]

(45, 67, 67, 89, 90, 56)

In [24]:
#Junping elements
t1[0::2]

(45, 67, 90, 80)

In [26]:
t3 = (t1,t2)
print(t3)

((45, 67, 67, 89, 90, 56, 80), (45, 78, 'Helllo', 'tyhu', 89, 67))

In [37]:
print(t3[0][3])

89

List In Python

List with Homogenous value (All are Integer)

In [3]:
x = [1,2,3,4,5,6,6,7,7]
print(x)
type(x)

[1, 2, 3, 4, 5, 6, 6, 7, 7]

list

List with hetrogenous value (Elements are mixed)

In [6]:
x1 = [2,3,4,5,56,'hughf',7,"Mohit",3,4,5]
print(x1)
type(x1)

[2, 3, 4, 5, 56, 'hughf', 7, 'Mohit', 3, 4, 5]

list

In [7]:
len(x1)

11

In [15]:
x1.append(23) #.append function only add 1 value
print(x1)

[2, 3, 4, 5, 56, 'hughf', 7, 'Mohit', 3, 4, 5, 23, 23, 3, 4, 3, 4, 'h', 23]

In [16]:
x1.extend((3,4,'h')) #.extend add multiple value add  1 time.

In [17]:
print(x1)

[2, 3, 4, 5, 56, 'hughf', 7, 'Mohit', 3, 4, 5, 23, 23, 3, 4, 3, 4, 'h', 23, 3, 4, 'h']

In [18]:
x1.pop()

'h'

In [19]:
print(x1)

[2, 3, 4, 5, 56, 'hughf', 7, 'Mohit', 3, 4, 5, 23, 23, 3, 4, 3, 4, 'h', 23, 3, 4]

In [21]:
x1.pop(0)

2

In [22]:
print(x1)

[3, 4, 5, 56, 'hughf', 7, 'Mohit', 3, 4, 5, 23, 23, 3, 4, 3, 4, 'h', 23, 3, 4]

In [23]:
x3 = x  + x1
print(x3)

[1, 2, 3, 4, 5, 6, 6, 7, 7, 3, 4, 5, 56, 'hughf', 7, 'Mohit', 3, 4, 5, 23, 23, 3, 4, 3, 4, 'h', 23, 3, 4]

In [24]:
x3[0:5]

[1, 2, 3, 4, 5]

In [26]:
x3[0::3] # jumping elements in slicing

[1, 4, 6, 3, 56, 'Mohit', 5, 3, 4, 3]

In [28]:
x3.count(7)

3

In [30]:
u = [67.4,5,6,0,6,2,7,8,9]
u.sort()

In [31]:
print(u)

[0, 2, 5, 6, 6, 7, 8, 9, 67.4]

In [35]:
w=sum(u)
print(w)

110.4

In [37]:
print(min(u))
print(max(u))

0
67.4

In [38]:
j = [2,'Hi',u]

In [39]:
print(j)

[2, 'Hi', [0, 2, 5, 6, 6, 7, 8, 9, 67.4]]

In [45]:
print(j[-1][3]) #slicing with list in list

6

String in Python

In [46]:
x1 = "Hello LnB"
x2 = "Welcome to the python World"
type(x2)

str

In [47]:
len(x2)

27

In [52]:
print(x1*3)

Hello LnBHello LnBHello LnB

In [55]:
x3 = x1 + '       ' + x2 #add multi list or concatination
print(x3)

Hello LnB       Welcome to the python World

In [ ]:
#Formating in string

In [59]:
name = "Reena"
print("Hey %s"%name)
print("Hey {}".format(x1))
print("Hey {} and {}".format(x1,x2))

Hey Reena
Hey Hello LnB
Hey Hello LnB and Welcome to the python World

In [61]:
print(x2.split('t'))

['Welcome ', 'o ', 'he py', 'hon World']

STRING in Python

In [65]:
g = "Helloo world in this"

In [66]:
len(g)

20

In [67]:
type(g)

str

In [70]:
g[5] #indexing in string

'o'

In [72]:
g[0:7]
g[3:17]

'loo world in t'

In [75]:
'ld' in g

True

In [78]:
g.find('t') #find the location of string

16

In [81]:
g.capitalize() #only 1st character is big

'Helloo world in this'

In [83]:
g.upper()

'HELLOO WORLD IN THIS'

In [84]:
g.lower()

'helloo world in this'

DICT in Python

In [85]:
d= {}

In [86]:
type(d)

dict

In [87]:
d1 = {'name':'Reena', 'Company':'Novadics', 'Contact':'8470'}

In [88]:
d1.keys()

dict_keys(['name', 'Company', 'Contact'])

In [89]:
d1.values()

dict_values(['Reena', 'Novadics', '8470'])

In [91]:
(d1['name'])

'Reena'

In [92]:
d1[0]= "Hello" #Adding Keys in Dict

In [93]:
d1

{'name': 'Reena', 'Company': 'Novadics', 'Contact': '8470', 0: 'Hello'}

In [94]:
d1['age']= 27

In [96]:
print(d1)

{'name': 'Reena', 'Company': 'Novadics', 'Contact': '8470', 0: 'Hello', 'age': 27}

In [99]:
del d1[0] #deleting 0 value in dict

KeyError: 0

In [100]:
d1

{'name': 'Reena', 'Company': 'Novadics', 'Contact': '8470', 'age': 27}

SETs in Python

In [101]:
d = {2,3,4,5,6,7,78}
type(d)

set

In [102]:
print(d)

{2, 3, 4, 5, 6, 7, 78}

In [104]:
#second method for set 
d1 = set([2,56,78,'hrllo','j',89,0,7])

In [105]:
type(d1)

set

In [106]:
d1

{0, 2, 56, 7, 78, 89, 'hrllo', 'j'}

In [110]:
d1.add('Hello XYZ') #add only one element in set

In [111]:
d1

{0, 2, 56, 7, 78, 89, 'Hello XYZ', 'hrllo', 'j'}

In [113]:
d1.update(['gty', 78]) #add multiple lement in one time

In [114]:
d1

{0, 2, 56, 7, 78, 89, 'Hello XYZ', 'gty', 'hrllo', 'j'}

In [115]:
#remove element in sets
d1.remove(56)

In [116]:
d1

{0, 2, 7, 78, 89, 'Hello XYZ', 'gty', 'hrllo', 'j'}

In [118]:
d1.discard('j')

In [119]:
d1

{0, 2, 7, 78, 89, 'Hello XYZ', 'gty', 'hrllo'}

In [120]:
d - d1

{56, 'j'}

In [121]:
d | d1

{0, 2, 56, 7, 78, 89, 'Hello XYZ', 'gty', 'hrllo', 'j'}

In [122]:
d & d1

{0, 2, 7, 78, 89, 'hrllo'}

In [123]:
d.clear()

In [124]:
d1.clear()

In [13]:
fruit = 'banana'
#'n' in fruit
'a' in fruit
print(len(fruit))
'a' not in fruit

6

False

In [17]:
great = 'Hello Bob'
zap = great.upper() # .lower() fun is used for lower case 
print(zap)

HELLO BOB

In [18]:
stuff = "Hello\nworld"
stuff

'Hello\nworld'

In [20]:
stuff = "Hello\nworld !"
print(stuff)

Hello
world !

In [22]:
friends = ['Reena', 'Mohit', 'Umesh', 'Rinki']
print(len(friends))
print(range(len(friends)))

4
range(0, 4)

In [23]:
friends = ['Reena', 'Mohit', 'Umesh', 'Rinki']
for fr in friends:
    print("Happy New Year", fr)

Happy New Year Reena
Happy New Year Mohit
Happy New Year Umesh
Happy New Year Rinki

In [25]:
for i in range(len(fr)):
    friends = fr[i]
    print("Happyn New year", friends)

Happyn New year R
Happyn New year i
Happyn New year n
Happyn New year k
Happyn New year i

In [30]:
no = [2,3,41,5,6,76,8]
print(len(no))
print(max(no))
print(min(no))
print(sum(no))
print(sum(no)/len(no))

7
76
2
141
20.142857142857142

In [31]:
line = 'A lot    of spaces'
etc = line.split()
print(etc)

['A', 'lot', 'of', 'spaces']

In [36]:
line = "'Frist'; 'second'; 'third'"
th = line.split()
print(th)
print(len(th))

["'Frist';", "'second';", "'third'"]
3

In [43]:
purse = dict()
purse['money'] = 12
purse['candy'] = 3
purse['tissues'] = 75
print(purse)

{'money': 12, 'candy': 3, 'tissues': 75}

In [50]:
import json

In [2]:
type(x)

list

In [3]:
y = [1,2,3,4]

In [4]:
type(y)

list

In [20]:
c = [2,3,4,[5,6,]]

In [25]:
d = [1,2,3,4]
8 in d

False

In [26]:
for number in [1,2,3,4,5,6,7,8,9]:
    print("I can count to", number)

I can count to 1
I can count to 2
I can count to 3
I can count to 4
I can count to 5
I can count to 6
I can count to 7
I can count to 8
I can count to 9

To recognize even no & odd no

In [29]:
x = int(input())
if x % 2 == 0:
    print("Even")
else :
    print("odd")

 5

odd

In [84]:
#x = [3, 7, 9, 5, 15, 21, 27]
x = list(range(1,100))
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [55]:
p = []
for i in x:
    if i % 3 == 0 or i % 5 == 0:
        p.append(i)
print(p)

[3, 5, 6, 9, 10, 12, 15, 18, 20, 21, 24, 25, 27, 30, 33, 35, 36, 39, 40, 42, 45, 48, 50, 51, 54, 55, 57, 60, 63, 65, 66, 69, 70, 72, 75, 78, 80, 81, 84, 85, 87, 90, 93, 95, 96, 99]

In [56]:
#print(x[::-1])

[99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [88]:
x.reverse()

#print(x.reverse())
print(x)

[99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [87]:
g = [1,2,3,4,5,6]
print(g)

[1, 2, 3, 4, 5, 6]

In [74]:
g.reverse()
print(g)

[6, 5, 4, 3, 2, 1]

In [5]:
#print(list(range(1,100)))
total = 0
for i in range(1, 100):
    if i % 3 == 0 and i % 5 == 0:
        print(total)
        total += i
print(total)

0
15
45
90
150
225
315

In [12]:
total = 0
for i in range(0,100):
    if i % 5 == 0:
        print(total)
        total += i
print(total)

0
0
5
15
30
50
75
105
140
180
225
275
330
390
455
525
600
680
765
855
950

addition all positive number in list

In [11]:
g = [5,4,4,3,1,-2,-3,-5]
total = 0
i = len(g) - 1

while g[i] <= 0:
    total += g[i]
    i -= 1
print(total)

-10